<div class="table-container d-flex my-5 mx-auto">
<table class="table table-dark table-sm table-striped">
    <thead>
        <th width="150px"> Logo</th>
        <th> Content</th>
        <th> Id </th>
    </thead>
    <tbody>
        {{#each @meetings.meetings as |meeting index|}}
        <tr>
            <td>{{#if meeting.isGTV }}<Logo src="./play-fill.svg" alt="This is image" /> {{/if}}</td>
            <td><a class="text-decoration-none text-white" href={{this.getLink meeting.id}}>{{this.getContent meeting}}</a></td>
            <td>{{meeting.id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>